{% if user.is_authenticated %}
 {% if song.is_favorite(user) %}
  <a href="{{ url('webview:del_fav', song.id) }}"><img class="song_head" src="{{ STATIC_URL }}heart_delete.png" title="Already Loved!" />
 {% else %}
  <a href="{{ url('webview:add_fav', song.id) }}/"><img class="song_head" src="{{ STATIC_URL }}heart_add.png" title="Add As Fave" /></a>
 {% endif %}
{% endif %}
