[<a href="{{ url('webview:newlinks') }}?link={{ L.id }}&amp;status=A"><img src="{{ STATIC_URL }}link_add.png" title="Approve" /></a> <a href="{{ url('webview:newlinks') }}?link={{ L.id }}&amp;status=R"><img src="{{ STATIC_URL }}link_delete.png" title="Reject" /></a> <a href="/admin/webview/link/{{ L.id }}"><img src="{{ STATIC_URL }}link_edit.png" title="Edit Link" /></a>]
