{% import "macro/display.html" as display %}
<tr class='postmain'>
	<td class='djangoForumThreadPostDetail'>
        {{ display.user(comment.user) }}<br/>
		{% if comment.user.userprofile.avatar %}
		<img src="{{ comment.user.userprofile.avatar.url }}" alt="avatar" /><br />
		{% endif %}
		{{ comment.user.userprofile.infoline }}
	</td>
	<td class="post">
		{{ comment.comment|mksafe|linebreaks|bbcode|smileys }}
	</td>
</tr>
<tr class='postfooter'>
	<td colspan=2>
		{{ comment.added|timesince }} ago
	</td>
</tr>
