{% if U.userprofile.aol_id or U.userprofile.icq_id or U.userprofile.yahoo_id or U.userprofile.twitter_id %}
 {% if U.userprofile.aol_id %} <img class="user-resource" src="{{ STATIC_URL }}aim-icon.png" title="{{ U.userprofile.aol_id }} on AIM" />{% endif %}
 {% if U.userprofile.icq_id %} <a href="http://www.icq.com/people/about_me.php?uin={{ U.userprofile.icq_id }}" target="_blank"><img class="user-resource" src="{{ STATIC_URL }}icq-icon.png" title="{{ U.userprofile.icq_id }} on ICQ" /></a>{% endif %}
 {% if U.userprofile.yahoo_id %} <a href="http://profiles.yahoo.com/{{ U.userprofile.yahoo_id }}" target="_blank"><img class="user-resource" src="{{ STATIC_URL }}yahoo-icon.png" title="{{ U.userprofile.yahoo_id }} on Yahoo!" /></a>{% endif %}
 {% if U.userprofile.twitter_id %} <a href="http://www.twitter.com/{{ U.userprofile.twitter_id }}" target="_blank"><img class="user-resource" src="{{ STATIC_URL }}twitter-icon.png" title="{{ U.userprofile.twitter_id}} on Twitter" /></a>{% endif %}
{% endif %}
