{% extends "base/base.html" %}
{% import "macro/display.html" as display %}
{% block title %}{{ gettext("Artists") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}user_green.png" alt="" />{{ gettext("Complete Artist List") }}</h2>
{% for l in al %}<a href="{{ url('webview:artists_letter', kwargs={'letter': l}) }}">{{ l|upper }}</a> {% endfor %} [<a href="{{ url('webview:artists') }}">{{ gettext("All Artists") }}</a>]<br /><br />

{% set objs, paging = dv.paginate(request, object_list) %}

{% for artist in objs %}
    {{ display.artist(artist) }}<br />
{% endfor %}
<br />
{{ paging }}
<br />
{{ gettext("Not Finding Who You're Looking For?") }} <a href="{{ url('webview:createartist') }}">{{ gettext("Suggest A New Artist!") }}</a><br />
{% endblock %}

