{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}{{ gettext("Compilations / Albums / Productions") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}recplay_ico.png" alt="" />{{ gettext("Complete Compilation / Album / Production List") }}</h2>

{% for l in al %}<a href="{{ url('webview:compilations_letter', kwargs={'letter': l}) }}">{{ l|upper }}</a> {% endfor %}<br /><br />

{% set objs, paging = dv.paginate(request, object_list) %}

{% for comp in objs %}
{{ display.compilation(comp) }}<br />
{% endfor %}
<br />

{% if user.is_staff %}<a href="{{ url('webview:newcomp') }}">{{ gettext("New compilation") }}</a>{% endif %}

{{ paging }}

{% endblock %}


