{% extends "base/base.html" %}

{% block title %}{{ gettext("All Groups") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}group.png" alt="" />{{ gettext("Groups List") }}</h2>
{% for l in al %}<a href="{{ url('webview:groups_letter', kwargs={'letter': l}) }}">{{ l|upper }}</a> {% endfor %} [<a href="{{ url('webview:groups') }}">{{ gettext("All Groups") }}</a>]<br /><br />

{% set objs, paging = dv.paginate(request, object_list) %}

{% for group in objs %}
{% set G = group %}{% include "webview/t/group.html" %}<br />
{% endfor %}
<br />

{{ paging }}
<br />
{{ gettext("Not Finding Who You're Looking For?") }} <a href="{{ url('webview:creategroup') }}">{{ gettext("Suggest A New Group!") }}</a><br />

{% endblock %}

