        <form action="{{ url('webview:oneliner_submit') }}" method="post" enctype="application/x-www-form-urlencoded"  onsubmit="apf('{{ url('webview:ax-oneliner_submit') }}',this); this.Line.value = ''; return false;" >
            <input id="blah" name="Line" autocomplete="off" maxlength="256" onkeydown="return tc(this,event.keyCode);" onkeypress="return canceltab(event.keyCode);" value="{{ gettext("GURU MEDITATION") }}" onfocus="if (this.value == '{{ gettext("GURU MEDITATION") }}') { this.value=''; }" /><input id="makeitso" type="submit" value="" />
            <div class="onelinertools"></div>
        </form>
