{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}{{ gettext("Pending Artist Approvals") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}user_green.png" alt="" />{{ gettext("Pending Artist Approvals") }}</h2>
<p>{{ gettext("The following artists have their status as 'Uploaded'. Moderators should verify the information for each entry to make sure it's ok.") }}</p>
<br />
{% for artist in artists.all() %}
    <table>
    <tr>
    <td>
    {% if artist.artist_pic %}<img class="artist_logo" src="{{ artist.artist_pic.url }}" title="{{ artist.handle|e }}" alt="{{ artist.handle|e }}" width="100" />{% else %}<img class="artist_logo" src="{{ STATIC_URL }}no_artist_pic.png" title="No Picture" alt="No Picture" width="100" />{% endif %}
    </td>
    <td>
    {{ gettext("Artist") }}: {{ display.artist(artist) }}<br />
    {{ gettext("Location") }}:{% if artist.home_location %} {{ artist.home_location|e }}{% endif %} {{ dv.flag(artist.home_country) }}<br />
    {% if artist.webpage %}{{ gettext("Website") }}: <a href="{{ artist.webpage|e }}">{{ artist.webpage|e }}</a><br />{% endif %}
    {% if artist.wiki_link %}{{ gettext("Wiki Link") }}: <a href="{{ artist.wiki_link|e }}" target="_blank">{{ artist.wiki_link|e }}</a><br />{% endif %}
    {% if artist.groups.count != 0 %}{{ gettext("Groups") }}: {% for group in artist.groups.all() %} {{ display.group(group) }}{% endfor %}<br />{% endif %}
    {% if artist.created_by %}{{ gettext("Created By") }}: {{ display.user(artist.created_by) }}<br />{% endif %}

    {% if artist.info %}<p><i>{{ artist.info|urlize|bbcode|linebreaks }}</i></p>{% endif %}

    {% if artist.scene_relevance %}<p>Scene relevance:<br/><i>{{ artist.scene_relevance|linebreaksbr }}</i></p>{% endif %}

    <a href="{{ url('webview:newartists') }}?artist={{ artist.id }}&amp;status=A"><img src="{{ STATIC_URL }}thumb_up.png" title="Approve" alt="Approve" /> {{ gettext("Approve") }}</a> {{ gettext("or") }} <a href="{{ url('webview:newartists') }}?artist={{ artist.id }}&amp;status=R"><img src="{{ STATIC_URL }}thumb_down.png" title="reject" alt="Reject" /> {{ gettext("Reject") }}</a>
    </td>
    </tr>
    </table>
    <br />
{% endfor %}
<br />
{% endblock %}

