{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}{{ gettext("Pending Group Approvals") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}group.png" alt="" />{{ gettext("Pending Group Approvals") }}</h2>
<p>{{ gettext("The following groups have their status as 'Uploaded'. Moderators should verify the information for each entry to make sure it's ok.") }}</p>
<br />
{% for group in groups.all() %}
    <table>
    <tr>
    <td>
    {% if group.group_logo %}<img class="group_logo" src="{{ group.group_logo.url }}" title="{{ group.name|e }}" alt="{{ group.name|e }}" />{% else %}<img class="group_logo" src="{{ STATIC_URL }}no_picture.png" height="100" title="No Picture" alt="No Picture" />{% endif %}
    </td>
    <td>
    {{ gettext("Group") }}: {{ display.group(group) }}<br />
    {% if group.webpage %}{{ gettext("Website") }}: <a href="{{ group.webpage }}">{{ group.webpage|e }}</a><br />{% endif %}
    {% if group.pouetid %}{{ gettext("Pouet Link") }}: <a href="http://www.pouet.net/groups.php?which={{ group.pouetid }}" target="_blank"">{{ gettext("Pouet Link") }}</a><br />{% endif %}
    {% if group.found_date %}{{ gettext("Founding Date") }}: {{ group.found_date|date("F j, Y") }}<br />{% endif %}
    {% if group.created_by %}{{ gettext("Created By") }}: {{ display.user(group.created_by) }}<br />{% endif %}

    {% if group.info %}<p><i>{{ group.info|urlize|bbcode|linebreaks }}</i></p>{% endif %}

    <a href="{{ url('webview:newgroups') }}?group={{ group.id }}&amp;status=A"><img src="{{ STATIC_URL }}thumb_up.png" title="Approve" alt="Approve" /> {{ gettext("Approve") }}</a> {{ gettext("or") }} <a href="{{ url('webview:newgroups') }}?group={{ group.id }}&amp;status=R"><img src="{{ STATIC_URL }}thumb_down.png" title="Reject" alt="Reject" /> {{ gettext("Reject") }}</a>
    </td>
    </tr>
    </table>
    <br />
{% endfor %}
<br />
{% endblock %}

