{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}{{ gettext("Pending Label Approvals") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}transmit_blue.png" alt="" />{{ gettext("Pending Label Approvals") }}</h2>
<p>{{ gettext("The following labels have their status as 'Uploaded'. Moderators should verify the information for each entry to make sure it's ok.") }}</p>
<br />
{% for label in labels.all() %}
    <table>
    <tr>
    <td>
    {% if label.logo %}<img class="label_logo" src="{{ label.logo.url }}" title="{{ label.name|e }} alt="{{ label.name|e }}" />{% else %}<img class="label_logo" src="{{ STATIC_URL }}no_picture.png" height="100" title="No Picture" alt="No Picture" />{% endif %}
    </td>
    <td>
    {{ gettext("Label") }}: {{ display.label(label) }}<br />
    {% if label.webpage %}{{ gettext("Website") }}: <a href="{{ label.webpage|e }}" target="_blank">{{ label.webpage|e }}</a><br />{% endif %}
    {% if label.wiki_link %}{{ gettext("Wiki Link") }}: <a href="{{ label.wiki_link|e }}" target="_blank">{{ label.wiki_link|e }}</a><br />{% endif %}
    {% if label.pouetid %}{{ gettext("Pouet Link") }}: <a href="http://www.pouet.net/groups.php?which={{ label.pouetid }}" target="_blank"">{{ gettext("Pouet Link") }}</a><br />{% endif %}
    {% if label.hol_id %}{{ gettext("H.O.L. Link") }}: <a href="http://hol.abime.net/hol_search.php?N_ref_developer={{ label.hol_id }}" target="_blank">.all() of Light Developer Entry</a><br />{% endif %}
    {% if label.found_date %}{{ gettext("Founding Date") }}: {{ label.found_date|date("F j, Y") }}<br />{% endif %}
    {% if label.created_by %}{{ gettext("Created By") }}: {{ display.user(label.created_by) }}<br />{% endif %}

    {% if label.info %}<p><i>{{ label.info|urlize|bbcode|linebreaks }}</i></p>{% endif %}

    <a href="{{ url('webview:newlabels') }}?label={{ label.id }}&amp;status=A"><img src="{{ STATIC_URL }}thumb_up.png" title="Approve" alt="Approve" /> {{ gettext("Approve") }}</a> {{ gettext("or") }} <a href="{{ url('webview:newlabels') }}?label={{ label.id }}&amp;status=R"><img src="{{ STATIC_URL }}thumb_down.png" title="Reject" alt="Reject" /> {{ gettext("Reject") }}</a>
    </td>
    </tr>
    </table>
    <br />
{% endfor %}
<br />
{% endblock %}

