{% extends "base/base.html" %}
{% block title %}Most Recent Site Changes{% endblock %}

{% block main %}
<table class="recentchanges">
<tr>
  <td>
    <h2><img class="recent_icon_header" src="{{ STATIC_URL }} user_green.png" alt="" />{{ artists|count }} Most Recently Updated Artists</h2>
    {% if artists %}{% for A in artists %}
    {% include "webview/t/artist.html" %}<br />
    {% endfor %}{% endif %}
  </td>
  <td>
    <h2><img class="recent_icon_header" src="{{ STATIC_URL }}group.png" alt="" />{{ groups|count }} Most Recently Updated Groups</h2>
    {% if groups %}{% for G in groups %}
    {% include "webview/t/group.html" %}<br />
    {% endfor %}{% endif %}
  </td>
</tr>
<tr>
  <td>
    <h2><img class="recent_icon_header" src="{{ STATIC_URL }}transmit_blue.png" alt="" />{{ labels|count }} Most Recently Updated Labels</h2>
    {% if labels %}{% for L in labels %}
    {% include "webview/t/label.html" %}<br />
    {% endfor %}{% endif %}
  </td>
  <td>
    <h2><img class="recent_icon_header" src="{{ STATIC_URL }}recplay_ico.png" alt="" />{{ compilations|count }} Most Recently Updated Compilations</h2>
    {% if compilations %}{% for C in compilations %}
    {% include "webview/t/compilation.html" %}<br />
    {% endfor %}{% endif %}
  </td>
</tr>
</table>

<table class="recentchanges">
<tr>
  <td>
  {% if songs %}<h2><img class="icon_header" src="{{ STATIC_URL }}music.png" alt="" />{{ songs|count }} Most Recently Updated Songs</h2>
  {% include "webview/t/songheader.html" %}
  {% for song in songs %}
  <tr class="{{ loop.cycle('row1', 'row2') }}">
  {% include "webview/t/songlist.html" %}
  </tr>
  {% endfor %}
  </table>{% endif %}
  </td>
</tr>
</table>

{% endblock %}
