{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}{{ gettext("Image List") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}icon_screenshot.png" alt="" />{{ gettext("Gallery Of Images") }}</h2>
{% for l in al %}<a href="{{ url('webview:screenshots_letter', kwargs={'letter': l}) }}">{{ l|upper }}</a> {% endfor %}<br /><br />

{% set objs, paging = dv.paginate(request, object_list) %}
<br />
{% for scr in objs %}
    {{ display.screenshot(scr) }}
{% endfor %}
<div class="clear"></div>
<br />{{ paging }}
{% endblock %}
