{% extends "base/base.html" %}

{% block title %}{{ gettext("Platform ") }}{{ object.title|e }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}script.png" alt="" />{{ gettext("Song Source") }} - {{ object.title|e }}</h2>
{% if object.image %}<img src="{{ object.image.url }}" title="Screenshot For {{ object.title|e }}" alt="Screenshot For {{ object.title|e }}" />{% endif %}
{{object.description|urlize|linebreaks}}

<h2><img class="icon_header" src="{{ STATIC_URL }}music.png" alt="" />{{ gettext("Songs") }}</h2>

{% set objs, paging = dv.paginate(request, object.get_songs().all(), 500) %}

{% include "webview/t/songheader.html" %}
{% for song in objs %}
 <tr class="{{ loop.cycle('row1', 'row2') }}">
 {% include "webview/t/songlist.html" %}
 </tr>
{% endfor %}
</table>

{{ paging }}

{% endblock %}
