{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}{{ gettext("Song List") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}music.png" alt="" />{{ gettext("List Of Songs") }}</h2>
{% for l in al %}<a href="{{ url('webview:songs_letter', kwargs={'letter': l}) }}">{{ l|upper }}</a> {% endfor %}<br /><br />

 {% set objs, paging = dv.paginate(request, object_list) %}
 {{ display.songslist(objs, user) }}
 <p>{{ paging }}</p>

{% endblock %}
