{% extends "base/base.html" %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}statistics.png" alt="" />{{ gettext("Available Statistics") }}</h2>
{% for word, vals in keys.items() %}
<p><a href="{{ url('webview:stats', kwargs={'stattype': word}) }}">{{ vals[0]|capitalize }}</a> - {{ vals[1] }}</p>
{% endfor %}
{% endblock %}
