{% extends "base/base.html" %}

{% block title %}{{ favuser.username|e }}'s Favourite Songs{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}music.png" alt="" />{{ favuser.username|e }}'s Favourite Songs</h2>
{% set U = favuser %}{% include "webview/t/user.html" %} {{ gettext("Has The Following Favourite Songs") }}:

{% set objs, paging = dv.paginate(request, favorites) %}

{% include "webview/t/songheader.html" %}

{% for favorite in objs %}
 <tr class="{{ loop.cycle('row1', 'row2') }}">
  {% set song = favorite.song %}
   {% include "webview/t/songlist.html" %}

 </tr>
{% endfor %}
</table>
{{ paging }}
{% endblock %}

