{% extends "base/base.html" %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}emoticons/unhappy.png" alt="" />Error 500</h2>
<center>Something unforseen happened in the great machinery.<br />
We're reeeally sorry!<br/>
<img src="{{ STATIC_URL }}sadpanda.jpg" alt="Sad panda"/><br/><br/>
The pony express have been dispatched to the administrators, carrying a note of the incident.
</center>
{% endblock %}
