<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, viewport-fit=auto">
    <title>{% block title %}{{ gettext("Welcome") }}{% endblock %} - {{ dv.site_name() }}</title>
    {% block earlyheadblock %}{% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/base.css?1" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/jquery.qtip.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ dv.user_css(user)|e }}" type="text/css" />
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.qtip.min.js?2" type="text/JavaScript"></script>
    <script src="{{ STATIC_URL }}js/dutils.js?1" type="text/JavaScript"></script>
    <script src="{{ STATIC_URL }}js/dobject.js?1" type="text/JavaScript"></script>
    <script src="{{ STATIC_URL }}js/dtabcomplete.js?1" type="text/JavaScript"></script>
    <script src="{{ STATIC_URL }}js/bbedit.js?1" type="text/JavaScript"></script>
    <script src="{{ STATIC_URL }}js/notification.js" type="text/JavaScript"></script>
    <script src="{{ STATIC_URL }}js/sort/tablesort.min.js" type="text/JavaScript"></script>
    <script src="{{ STATIC_URL }}js/jquery/popup.js" type="text/JavaScript"></script>
    {% include "base/extra_headers.html" %}
    {% block headblock %}{% endblock %}
  </head>

  <body {% block bodyid %}id="site"{% endblock %} tonload="ajaxmonitor({{ dv.ajaxevent() }});" tonunload="ajaxmonitorabort();">
    {% block content %}{% endblock %}
    {% include "base/page_footer.html" %}
  </body>
</html>
