{% extends "base/base.html" %}
{% block sidebar %}
        <ul>
            <li id="home"><a href="{% url('webview:root') %}">{{ gettext("Home") }}</a></li>

            <li id="song-platform"><a href="{% url('webview:song-platform') %}">{{ gettext("Song Platforms") }}</a></li>
        </ul>
{% endblock %}
