<footer>
  <span id="copyleft">
  Powered by <a href="https://framagit.org/demovibes/demovibes">Demovibes</a><br />
  </span>
  <span id="copyright">
  layout: <a href="http://raina.daug.net/">raina</a>,
  icons: <a href="http://www.famfamfam.com/"><span style="color: #f15;">fam</span><span style="color: #1cf;">fam</span><span style="color: #bf3;">fam</span></a>
  </span>
</footer>
